<launch>

  <rosparam command="load" ns="grasp_table_generation" file="$(find grasp_table_generation)/launch/grasp_table_sdhx.yaml"/>

  <node name="object_configutarion" ns="grasp_table_generation" pkg="grasp_table_generation" type="ObjectConfiguration.py" output="screen"/>

  <test test-name="test_object_configuration" pkg="grasp_table_generation" type="TestObjectConfiguration"/>

</launch>
